body {

    background: #f4f6fb;

    font-family: Segoe UI;

}

.hero {

    padding: 60px 0;

}

.hero h1 {

    font-weight: bold;

    font-size: 45px;

}

.hero p {

    color: #666;

    font-size: 18px;

}

.categoria {

    width: 100%;

    height: 220px;

    border: none;

    border-radius: 15px;

    background: white;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);

    transition: .30s;

    cursor: pointer;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

}

.categoria:hover {

    transform: translateY(-10px);

    box-shadow: 0 15px 35px rgba(0, 0, 0, .20);

    background: #0d6efd;

    color: white;

}

.categoria:hover i {

    color: white;

}

.categoria:active {

    transform: scale(.97);

}

.categoria i {

    font-size: 60px;

    color: #0d6efd;

    margin-bottom: 20px;

    transition: .30s;

}

.categoria span {

    color: #666;

}

.categoria:hover span {

    color: white;

}